
<%= @current_user  %>
<% if @products.empty? %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

<h3>Product Index</h3>
<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
  <% @products.each do |product| %>
    <li>
      <%= link_to products_path(product) do %>
        <img src="https://i.s-jcrew.com/is/image/jcrew/94058_KE3981_m?$pdp_fs418$">
        <center><%= product.title %><% end %></center>
        <center>by <%= product.brand.name %></center>

  </li>
  <% end %>
</ul>
<%= link_to "Add New Product", new_product_path %>
