<div class="row">
  <div class="large-12 large-centered columns product-title">
    <center><h2><%= @product.title %></h2></center>
    <center>
      <div class "inline-list">
        <%= link_to 'Go Back', products_path %> |
        <%= link_to 'Edit Product Info', edit_product_path(@product.id) %> |
        <%= link_to 'Delete Product', @product, method: :delete %>
      </div>
    </center>
  </div>
</div>

<div class="row">
  <div class="small-6 columns review-form">
    <div class="panel">
      <img class="product-image" max-width="400" src="<%= @product.image_url %>">
    </div>
  </div>
  <div class="small-6 columns review-form">
    <div class="panel">
      <h3>Add a review below!</h3>
    <p>
    <%= render 'reviews/form' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
  <table>
    <tr>
      <td class="product-header">Category</td>
      <td><%= @product.category.name %></td>
    </tr>
    <tr>
      <td class="product-header">Product</td>
      <td><%= @product.title %></td>
    </tr>
    <tr>
      <td class="product-header">Description</td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <td class="product-header">Brand Name</td>
      <td><%= @product.brand.name %></td>
    </tr>
    <tr>
      <td class="product-header">Average Fit Rating</td>
      <td><%= @product.average_fit %> (<%= @product.average_fit_text %>)</td>
    </tr>
  </table>
</div>
</div>

<div class="row">
  <div class="large-12 large-centered columns product-reviews">
    <% if @reviews.count != 0 %>
    <h3 class="product-show">Check out these reviews!</h3>
    <% end %>
    <ul>
      <% count ||= 0 %>
      <% @reviews.each do |review| %>
        <li class="review" id="review<%=review.id%>">
          <div class="panel">
          <% count += 1 %>
          <h4>
          Review #<%= count %>: <%= review.title %>
          </h4>
          Submitted by: <%= review.user.email %>
            <br>
          Title: <%= review.title %>
            <br>
          Product Fit: <%= review.product_fit %>
            <br>
          Review: <%= review.body %>
            <p>
          <% if (current_user == review.user) || current_user.try(:admin?) %>
            <%= link_to 'Edit Review', [:edit, @product, review] %>
            <%= link_to "Delete Review", [@product, review], method: :delete %>
          <% end %>
          <div class="votes">
            <%= link_to image_tag("down.png", class: "vote down", data: { helpful: false, review_id: review.id }),"#" %>
            <span class="down-count"><%= review.thumbs_down %></span>
          </div>
          <div class="votes">
            <%= link_to image_tag("up.png", class: "vote up", data: { helpful: true, review_id: review.id }),"#" %>
            <span class="up-count"><%= review.thumbs_up %></span>
          </div>
          <div class="ajax-message"></div>
          <div class="initial-message">
            <% if @vote = review.vote(current_user) %>
              <%= @vote.message %>
              <%= link_to("Delete Vote", "#", class: "delete-vote", data: { review_id: review.id, vote_id: @vote.id }) %>
            <% end %>
          </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
