<div class = "row product-show">
  <div class="large-12 large-centered columns">
    <center><h2>Product Details: <%= @product.title %></h2></center>
    <table>
      <tr>
        <td width="20%">Category:</td><td width="25%"> <%= @product.category.name %></td>
        <td></td>
        <td rowspan="7" width="400"><img class="product-image" src="<%= @product.image_url %>"></td>
      </tr>
      <tr>
        <td width="20%">Product:</td><td width="25%"><%= @product.title %></td>
      </tr>
      <tr>
        <td width="20%">Description:</td><td width="25%"><%= @product.description %></td>
      </tr>
      <tr>
        <td width="20%">Brand Name:</td><td width="25%"><%= @product.brand.name %></td>
      </tr>
      <tr>
    <td width="20%">Average Fit Rating:</td><td width="25%"><%= @product.average_fit %> (<%= @product.average_fit_text %>)</td>
  </tr>
    <center><div class "inline-list">
      <%= link_to 'Go Back', products_path %> |
      <%= link_to 'Edit Product Info', edit_product_path(@product.id) %> |
      <%= link_to 'Delete Product', @product, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div></center>
    <p>
      <p>
  </div>
</div>
</table>

<div class="row">
  <div class="large-12 large-centered columns">
    <% if @reviews.count != 0 %>
    <h3 class="product-show">Check out these reviews!</h3>
    <% end %>
    <ul>
      <% count ||= 0 %>
      <% @reviews.each do |review| %>
        <li class="review" id="review<%=review.id%>">
          <% count += 1 %>
          <h4>
          Review #<%= count %>: <%= review.title %>
          </h4>
          Submitted by: <%= review.user.email %>
            <br>
          Title: <%= review.title %>
            <br>
          Product Fit: <%= review.product_fit %>
            <br>
          Review: <%= review.body %>
            <p>
          <% if (current_user == review.user) || current_user.try(:admin?) %>
            <%= link_to 'Edit Review', [:edit, @product, review] %>
            <%= link_to "Delete Review", [@product, review], method: :delete %>
          <% end %>
          <div class="votes">
            <%= link_to image_tag("down.png", class: "vote down", data: { helpful: false, review_id: review.id }),"#" %>
            <span class="down-count"><%= review.thumbs_down %></span>
          </div>
          <div class="votes">
            <%= link_to image_tag("up.png", class: "vote up", data: { helpful: true, review_id: review.id }),"#" %>
            <span class="up-count"><%= review.thumbs_up %></span>
          </div>
          <p class="ajax-message"></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row review-form">
  <div class="large-12 large-centered columns">
    <center><h3>Add a review below!</h3></center>
    <p>
    <%= render 'reviews/form' %>
  </div>
</div>
