<h4>This is the product details page</h4>
Category: <%= @product.category %>
  <br>
Product: <%= @product.title %>
  <br>
Description: <%= @product.description %>
  <br>
Brand Name: <%= @product.brand %>
<p>
  <%= link_to 'Go Back', products_path %>
</p>
<p>
  <%= link_to 'Edit Product Info', edit_product_path(@product.id) %>
</p>
<p>
  <%= link_to 'Delete Product', @product, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>


<p>
  Create a new review below!
  <p>

<%= render 'reviews/form' %>
<p>
  <p>



<h4>Check out these reviews!</h4>
  <% count ||= 0 %>
<% @product.reviews.each do |review| %>
  <p>
  <% count += 1 %>
  Review #<%= count %>
    <br>
  Submitted by: <%= review.user %>
    <br>
  Title: <%= review.title %>
    <br>
  Review: <%= review.body %>
    <p>
  <% if current_user.email == review.user.email %>
    <%= link_to 'Edit Review', [:edit, @product, review] %>
    <% end %>
<% end %>
