<%= form_for [review, @vote] do |f| %>
  <%= f.hidden_field "helpful", value: true %>
  <%= image_submit_tag "up.png", class: "up#{count}" %>
  <span id="up_count_<%= count %>"><%= review.thumbs_up %></span>
<% end %>
