<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
  <% @products.each do |product| %>
    <li>
      <%= link_to product_path(product) do %>
        <img src="<%= product.image_url %>" >
        <center><%= product.title %></center>
      <% end %>
      <center>by <%= link_to product.brand.name, brand_path(product.brand) %></center>
    </li>
  <% end %>
</ul>
<%= link_to "Add New Product", new_product_path %>
<p>
  <%= paginate @products %>
  <%= page_entries_info @products %>
</p>
