<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="/"><span style="color:white", class="fancy_font">Does It Fit-</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-form">
        <form id="search-form" action="/products" accept-charset="UTF-8" method="get">
          <div class="row collapse">
            <input name="utf8" type="hidden" value="✓">
            <div class="large-8 small-9 columns">
              <input type="text" name="search" id="search" placeholder="Search Products">
            </div>
            <div class="large-4 small-3 columns">
              <input type="submit" name="commit" value="Search" class="alert button expand">
            </div>
          </div>
        </form>
      </li>
      <li><%= link_to 'Products', products_path %></li>

      <%- if current_user  -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Edit Your User Profile', edit_user_registration_path, method: :get %></li>

        <%- if current_user.admin? -%>
          <li><%= link_to 'Manage Users', users_path, method: :get %></li>
        <%- end -%>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
    <ul class="left">
      <li class="has-dropdown"><a href="#">Filter by:</a>
        <ul class="dropdown">
          <li><a href="/brands">Brands</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/products">Products</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
