<!DOCTYPE html>
<html>
<head>
  <title>DoesItFit</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain-to-grid">
    <div class="row">
      <div class="small-12 small-centered columns">
        <%= render 'layouts/top_bar' %>
      </div>
    </div>
  </div>

  <%= render 'layouts/flash' %>

  <div class="row">
    <div class="small-12 small-centered columns">
      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= yield :extra_footer %>
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered columns">
      <ul class="inline-list">
        <li><%=link_to "Home", root_path %></li>
        <li> | </li>
        <li><%= link_to "Categories", categories_path %></li>
        <li> | </li>
        <li><%= link_to "Brands", brands_path %></li>
        <li> | </li>
        <li><%= link_to "Products", products_path %></li>
      </ul>
    </div>
  </div>
</body>
</html>
