<!DOCTYPE html>
<html>
<head>
  <title>DoesItFit</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">DoesItFit</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%= render 'layouts/top_bar' %>
      </ul>
      <ul class="left">
        <li class="has-dropdown"><a href="#">Filter by:</a>
          <ul class="dropdown">
            <li><a href="/brands">Brands</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/products">Products</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

  <div class="row">
    <div class="small-10 small-centered columns">
      <ul class="inline-list">
        <li>About</li>
        <li> | </li>
        <li>Categories</li>
        <li> | </li>
        <li>Brands</li>
        <li> | </li>
        <li>Investors</li>
        <li> | </li>
        <li>Product</li>
      </ul>
    </div>
  </div>
</body>
</html>
